  .mainBody{
    padding: 60px 30px;
  }

  .heading{
    width:90px;
    height:80px;
    background-color: rebeccapurple!important;
    position: initial;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    color: white!important;
    }
    .list{
      padding:8px 2px !important;
    }
    .MuiTypography-body1{
   font-size: 0.8rem!important;
    }